$font-color: #fff;
$button-color: #ec8524;
$button-color-hovered: #975321;
$button-color-pressed: #714b26;

$brand-color: #36465d;
$background-color: #d2dae6;
$font-color-home: #565656;
$fontLink-color: #529ecc;
$fontSub-color: #b0b0b0;
$navSearchBar-color: #2d3a4e;
$nav-tabs-active-color: #529ecc;
$text-size: 18px;
