// Home specific styles
.home {
  background-color: $brand-color;
  margin: 0; 
}

input[type="text"], textarea {
  background-color : $navSearchBar-color; 
  border: none;
}

.nav-tabs li.active a{
  background-color: $nav-tabs-active-color;
  border: none;
}

.nav-tabs{
  border: none;
}

.btn{
  border: none;
  background-color : $navSearchBar-color; 
}