// Nav specific styles
.home-Body {
    background-color: $background-color;
    margin: 4em 0 0 0;
}

.navbar-body {
    background-color: $brand-color;
}

.navbar-brand-sprite-logo {
    background: url(../img/home/tumblr-logo.png);
    display: inline-block;
    height: 24px;
    width: 24px;
}

.nav-sprite-even {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.nav-sprite-evenXS {
    display: flex;
    justify-content: space-evenly;
    display: inline-block;
}

/*
.nav-sprite {
    background: url(../img/home/assets.png);
    display: inline-block;
    height: 24px;
    width: 24px;
}

.nav-sprite-text {
    background-position: -10px -230px;
}

.nav-sprite-camara {
    background-position: -10px -98px;
}

.nav-sprite-quote {
    background-position: -10px -186px;
}

.nav-sprite-link {
    background-position: -10px -142px;
}

.nav-sprite-message {
    background-position: -10px -10px;
}

.nav-sprite-audio {
    background-position: -10px -54px;
}

.nav-sprite-video {
    background-position: -10px -274px;
}
*/

.form-control {
    background-color: $navSearchBar-color;
    border: none;
}

.contentFooter{
    width: 100%;
}

.contentFooterNotes {
    padding: 0;
    margin: 0 2em 2em 2em;
}

.footerEven {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.asideBlogName{
    color: $font-color-home;
}

.radarImage{
    padding: 1em;
}

.mediaAside{
    margin: 0 1em 0 1em;
}

.asideTitles{
    padding: 1em;
    font-size: 1.3em;
    color: $font-color-home;
}

.exploreTitle{
    color: $fontLink-color;
    padding-top: 0;
}