// Nav specific styles
.home-Body {
    background-color: $background-color;
    margin: 0;
}

.navbar-body{
    background-color: $brand-color;
}

.navbar-brand-sprite-logo {
    background: url(../img/home/tumblr-logo.png);
    display: inline-block;
    height: 24px;
    width: 24px;
}

.nav-sprite-even{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.nav-sprite-evenXS{
    display: flex;
    justify-content: space-evenly;
    display: inline-block;
}

/*
.nav-sprite {
    background: url(../img/home/assets.png);
    display: inline-block;
    height: 24px;
    width: 24px;
}

.nav-sprite-text {
    background-position: -10px -230px;
}

.nav-sprite-camara {
    background-position: -10px -98px;
}

.nav-sprite-quote {
    background-position: -10px -186px;
}

.nav-sprite-link {
    background-position: -10px -142px;
}

.nav-sprite-message {
    background-position: -10px -10px;
}

.nav-sprite-audio {
    background-position: -10px -54px;
}

.nav-sprite-video {
    background-position: -10px -274px;
}
*/

.form-control {
    background-color : $navSearchBar-color; 
    border: none;
  }